<h2><%= location.name %></h2>
<%= image_tag(location.picture_path) %>
<p><%= location.latitude %></p>
<p><%= location.longitude %></p>

<%= link_to "Drop Capsule Here", new_box_path(:location => location), class:"btn secondary-cta-w"%>
