<h1>Select your location</h1>
<% if (params[:type] == 'earth') %>
  <p>Welcome to Earth</p>
  <div id="map"
        style="width: 50%; height: 500px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">>
  </div>




<% elsif (params[:type] == 'outer space') %>
  <p>Welcome to Outer Space</p>
  <div class="container">
  <div class="cards">
    <% @space_locations.each do |location| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path location.picture_path %>)">
        <%= location.name %>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<p>Welcome to MetaVerse</p>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path @metaverse.picture_path %>)">
        <%= @metaverse.name %>
      </div>
<% end %>


  <div>
<h2>Our Pricings</h2>
  <ul>
  <% @packages.each do |package|%>
      <% if package.package_type == params[:type] %>
        <li>
          <p>
            <%= package.size %>
            <%= package.base_price %>
          </p>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>
