<div class="container">
</div>
  <% if (params[:type] == 'earth') %>
    <h1 class="text-center mx-auto pb-3">Select one of our location on our Mother Earth to keep your memories</h1>

    <h2 class="text-center">Welcome to our beautiful planet</h2>
    <br>
      <div id="map" class="mx-auto"
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">>
      </div>





  <% elsif (params[:type] == 'outer space') %>
    <h1 class="text-center mx-auto pb-3">Make your memories go to infinity and beyond</h1>
    <div class="container">
      <div class="cards">
        <% @space_locations.each do |location| %>
          <%= link_to new_box_path(:location => location), class:'text-decoration-none' do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path location.picture_path %>)">
              <%= location.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <h1 class="text-center mx-auto pb-3">Let your memories stay in the digital world</h1>
    <div class="container">
      <div class="cards">
        <% @metaverse_locations.each do |location| %>
          <%= link_to new_box_path(:location => location), class:'text-decoration-none' do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path location.picture_path %>)">
              <%= location.name %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="container text-align-left">
      <%= link_to 'Go Back', begin_path, class:"btn secondary-cta-w" %>
    </div>
  </div>

  <div class="container">
      <div id="intro">
        <h2 class="mb-2">How Much is Your Legacy Worth?</h2>
        <h3 class="mb-2">No Subscription Pricing Plan</h3>
        <p>Get started and create your everlasting Digital Legacy by booking your Time Capsule.</p>
      </div>

      <div class="pk-cards-container">
      <% @packages.each do |package|%>
          <% if package.package_type == params[:type] %>
            <div class="pk-card">
              <div class="card-titles mb-2">
                <h2 class="text-capitalize"><%= package.size %></h2>
                <p class="price">$<%= package.base_price %></p>

                <% if package.size == 'Basic' %>
                  <h3>Limited access</h3>
                    <div class="access-list">
                      <p><i class="fas fa-check"></i>Media content basic</p>
                      <p><i class="fas fa-check"></i>1 Guardian</p>
                      <p><i class="fas fa-times"></i>Online Assistance</p>
                      <p><i class="fas fa-times"></i>3D & VR Content</p>
                      <p><i class="fas fa-times"></i>Personalized Delivery</p>
                    </div>
                <% elsif package.size == 'Standard' %>
                  <h3>Limited access</h3>
                    <div class="access-list">
                      <p><i class="fas fa-check"></i> Media content basic</p>
                      <p><i class="fas fa-check"></i> 5 Guardian</p>
                      <p><i class="fas fa-check"></i> Online Assistance</p>
                      <p><i class="fas fa-check"></i> 3D & VR Content</p>
                      <p><i class="fas fa-times"></i> Personalized Delivery</p>
                    </div>
                <% else %>
                  <h3>Limited access</h3>
                    <div class="access-list">
                      <p><i class="fas fa-check"></i> Media content basic</p>
                      <p><i class="fas fa-check"></i> 10 Guardian</p>
                      <p><i class="fas fa-check"></i> Online Assistance</p>
                      <p><i class="fas fa-check"></i> 3D & VR Content</p>
                      <p><i class="fas fa-check"></i> Personalized Delivery</p>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
